* {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}

/*Menu*/

nav {
	position: fixed;
	width: 80%;
	background-color: black;
	font-size: 0px;
	margin: 10px 100px;
	padding: 10px;
	border-radius: 50px;
	min-width: 760px;
}

nav a {
	font-size: 30px;
	text-decoration: none;
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	width: 25%;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
}

nav a:hover {
	border-bottom: 3px solid royalblue;
	background-color: #fff;
	color: black;
	transition: .3s;
}


/*Header*/

header {
	height: 700px;
	background-image: url(grafika/header.jpg);
	background-size: cover;
	background-position: center;
}

header h1 {
	font-size: 100px;
	color: rgb(10 13 255);
	text-align: center;
	line-height: 700px;
	font-family: 'Pacifico', sans-serif;
	background-color: rgba(0, 0, 0, 0.1);
	min-width: 1250px;
}

/*Main*/

/*Section siatka_grafiki*/

#main_oferta {
	font-size: 40px;
	text-align: center;
	margin: 40px auto;
	text-decoration: underline;
}

main ul {
	font-size: 0;
}

main ul li {
	font-weight: 700;
	font-size: 25px;
	width: 50%;
	list-style: none;
	float: left;
	text-align: center;
	margin: 20px auto;
	min-width: 640px;
}

main ul li img {
	box-shadow: 0 0 80px;
	opacity: 0.6;
}

main ul li img:hover {
	opacity: 1;
	cursor: pointer
}

/*Section tekst*/

section.tekst {
	clear: both;
	width: 80vw;
	margin: 100px auto;
}

section.tekst img {
	width: 30vw;
	height: 30vh;
	float: right;
	margin-left: 20px;
	box-shadow: 10px 0 50px;
}

section.tekst p {
	text-align: justify;
	line-height: 2em;
	font-weight: 400;
}

.bold {
	font-weight: 700;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

#button {
	display: block;
	font-size: 30px;
	margin-right: 60px;
	text-align: right;
	text-decoration: none;
	color: black;
}

/*Footer*/

#contact {
	text-align: center;
	margin: 30px auto;
	font-size: 40px;
	background-color: chartreuse;
	padding: 40px
}
